@model UpdateRoleVM
@{
    ViewData["Title"] = "Update";
}
<h1>@Model.User.FullName</h1>
<form method="post">
    @foreach (var role in Model.Roles)
    {
        <input @(Model.UserRoles.Any(ur=>ur == role.Name)?"checked":"") type="checkbox" value="" name="" /> @role.Name <br />
    }
</form>